.DS_Store
node_modules
.tmp
npm-debug.log
/.idea/ava-25-for-professionals-with-jetbrains-ai-assistant-2731144.iml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
